@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  background-color: #02040a;
}

* {
  font-family: __Inter_52bc3f, __Inter_Fallback_52bc3f, sans-serif;
}

/* Style the vertical scrollbar */
::-webkit-scrollbar {
  width: 0.3rem;
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-track {
  display: none;
  /* background-clip: content-box;  */
}

::-webkit-scrollbar-thumb {
  width: 2px;
  height: 30px;
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to bottom, aquamarine, mediumpurple, pink);
  -webkit-border-radius: 3px;
  border: none;
  content: "";
  display: block;
  height: 30px;
  box-shadow: 0 0 5px #00000040;
  width: 0.375rem;
  border-radius: 0.1875rem;
  opacity: 0;
  margin: 0 0.25rem;
  cursor: grab;
}

.mr-wallet-button {
  border: 0 !important;
  box-shadow: none !important;
}

.mr-wallet-button,
.mr-menu-list {
  color: #fff;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(0%, -50%);
  overflow-x: hidden;
}
#image-track .trackImage {
  min-width: 40vmin;
  height: 56vmin;
  border-radius: 5px;
  object-fit: cover;
  object-position: 100% center;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  height: 30vmax;
  background-color: white;
  border-radius: 50%;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  pointer-events: none;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  filter: blur(12vmax);
  z-index: 0;
}

header {
  /* filter: blur(12vmax); */
  backdrop-filter: blur(12vmax);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}
.magic {
  display: inline-block;
  position: relative;
}

.magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    aquamarine,
    mediumpurple,
    pink,
    aquamarine
  );
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.nftImage {
  object-position: center 0%;
}

.buyButton {
  border-radius: 7px;
  margin-right: -12px;
  margin-left: 2px;
  padding-top: 3px;
}

.btn-ss-color{
  background-color: #E9B824;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 15px;
  border-radius: 3px;
  padding: 2px;
}